@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500;600;700&display=swap");
.background__color_body {
  background-color: #f9f5eb;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
}

.nav__flex {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 80%;
  margin: 0 auto;
  justify-content: space-between;
  padding: 3rem 0.5rem;
}

.sign__flex {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.logo__nav {
  font-size: 2rem;
  font-weight: 600;
  color: #13c4a3;
}

.btn__nav {
  text-decoration: none;
  color: #13c4a3;
  background-color: #f9f5eb;
  border-radius: 40px;
  padding: 1rem 1.5rem;
  border: 1px solid #13c4a3;
}

.btn__nav:visited {
  color: #13c4a3;
}

.btn__nav:active {
  color: #94fbab;
}

.btn__nav:hover {
  color: white;
  background-color: #13c4a3;
  border: none;
}

.todo_box {
  width: 40%;
  margin: 0 auto;
  text-align: left;
  background-color: #13c4a3;
  margin-top: 3rem;
  border-radius: 10px;
  color: white;
}

.greet {
  color: #2c3639;
  width: 40%;
  margin: 0 auto;
}

.GM_greet_heading {
  font-size: 2.5rem;
  font-weight: 900;
}

.username {
  margin-top: 0.5rem;
  font-size: 1.4rem;
}

.task_design {
  padding: 0 0.5rem;
  margin: 1rem;
  border-radius: 10px;
  font-size: 1.1rem;
}

.todo_list_name {
  padding: 1.5rem 1rem;
  font-size: 1.3rem;
  font-weight: 600;
  margin-left: 1rem;
}

.todo_list_container {
  padding-bottom: 1rem;
}

.checkmark {
  height: 17px;
  width: 17px;
  border-radius: 10px;
}

/* Customize the label (the container) */
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 1.2rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #f9f5eb;
  border-radius: 8px;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #a0d995;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 6px;
  top: 3px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

input[type=checkbox]:checked + span.strikethrough {
  text-decoration: line-through;
  color: rgb(219, 213, 213);
}

/*----------Sign Up------------*/
.signup__box {
  background-color: #cee5d0;
  border-radius: 30px;
  width: 25%;
  margin: 3rem auto;
  padding: 2rem 1.5rem;
}

.main__box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
}

.email__input {
  display: block;
}

.pass__input {
  display: block;
}

.heading__box_p1 {
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.signup__heading {
  margin-bottom: 0.7rem;
  margin-top: 1rem;
  color: #2c3333;
}

.signup__description {
  width: 80%;
  margin-bottom: 1.5rem;
  color: #2c3333;
}

.input__box {
  width: 100%;
  height: 40px;
  padding: 0.5rem;
  border-radius: 10px;
  border: none !important;
  margin-bottom: 1rem;
  color: #2c3333;
}

.input__box_p2 {
  width: 80%;
}

.signup__btn {
  cursor: pointer;
  background-color: #13c4a3;
  color: #2c3333;
}

input:focus {
  outline: none !important;
  border-color: #5a8f7b;
  box-shadow: 0 0 10px #5a8f7b;
}

.back__btn {
  font-size: 1.8rem;
  position: absolute;
}

.back__arrow:visited {
  color: #2c3333;
}

.back__arrow:hover {
  color: #2c3333;
}

.back__arrow:active {
  color: #5c6e6e;
}

.back__arrow:link {
  color: #2c3333;
}/*# sourceMappingURL=main.css.map */