<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>to.Do</title>
    <link rel="stylesheet" href="/scss/main.css" />
  </head>
  <body class="background__color_body">
    <main>
      <!-- ===========================Nav Bar ================ -->
      <nav class="nav__bar">
        <div class="nav__flex">
          <div>
            <p class="logo__nav">To-Do</p>
          </div>
          <div class="sign__flex">
            <a href="/signup" class="signup__button btn__nav">Sign Up</a>
            <a href="/signin" class="signin__button btn__nav">Sign In</a>
          </div>
        </div>
      </nav>
      <!-- ==========================to-do box  ====================== -->

      <div class="greet">
        <h1 class="GM_greet_heading">Good Morning,</h1>
        <p class="username">Kiara</p>
      </div>

      <section class="todo_box" id="todo_box">
        <div class="todo_list_container">
          <div class="todo_list_name">Todo-list</div>
          <div class="todo_list_task">
            <div class="tasks task_design">
              <label class="container">
                <input
                  type="checkbox"
                  class="strikethrough"
                  name="task1"
                  id="task1"
                />
                <span class="strikethrough">Task 1, Make Pizza</span>
                <span class="checkmark"></span>
              </label>
            </div>
            <div class="tasks task_design">
              <label class="container">
                <input type="checkbox" name="task2" id="task2" />
                <span class="strikethrough">Task 2, Eat Pizza</span>
                <span class="checkmark"></span>
              </label>
            </div>
          </div>
        </div>
      </section>
    </main>
  </body>
</html>

<!-- paste -->
