<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/scss/main.css" />
    <link
      rel="stylesheet"
      href="https://unicons.iconscout.com/release/v4.0.0/css/line.css"
    />
    <title>to.Do-Sign Up</title>
  </head>
  <body class="background__color_body">
    <!-- ===========================Nav Bar ================ -->
    <nav class="nav__bar">
      <div class="nav__flex">
        <p class="logo__nav">To-Do</p>
      </div>
    </nav>

    <!-- ==========================Signup box  ====================== -->
    <main class="signup__box">
      <div>
        <a class="back__arrow" href="/"
          ><i class="uil uil-angle-left back__btn"></i
        ></a>
      </div>
      <div class="main__box">
        <div class="heading__box_p1">
          <h1 class="signup__heading">Sign Up</h1>
          <p class="signup__description">
            Hey, Enter your details to create an account
          </p>
        </div>

        <div class="input__box_p2">
          <form action="/" method="post">
            <input
              type="email"
              name="email"
              id=""
              class="email__input input__box"
              placeholder="Enter your email address"
            />
            <input
              type="password"
              name="password"
              id=""
              class="pass__input input__box"
              placeholder="Password"
            />
            <p class="Trouble__para"></p>
            <button type="submit" class="signup__btn input__box">
              Sign Up
            </button>
          </form>
        </div>
      </div>
    </main>
  </body>
</html>
